<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="professorangoti.com.atlas1">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="68050397-3d69-4654-bd41-893a194c3b6c" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="SYq3/KMb2SULx4moWbhFP1VamHYQO7ANROfyV8l93uq4VfbkAgBWisE8y/PH+9Fh6hBy/oz9f6SkwkRXWO2ZQ/0fMFTJwiEgVzUXF8MgN4QU/LT5VkPvVQwlbk4vQQ==" />
    </application>

</manifest>